.userPhoto {
    width: 100px;
    height: 100px;
}
.followed {
    width: 100px;
    padding: 5px 5px;
    font: 15px "Fira Sans";
    text-align: center;
    background-color: #bae4fd;
    border: 2px;
    border-radius: 5px;
    box-shadow: 0 3px #b0b0b0;
}

