.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
color: crimson;
}

.formSummaryError {
    border: red 1px solid;
    padding: 3px;
    color: darkred;
}