.nav {
    grid-area: n;
    background-color: #eef8ff;
    padding: 50px;
    width: 200px;

}

.item a {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #ddf2fe;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #b0b0b0;
    cursor: pointer;
    outline: none;
    font: 20px "Fira Sans";
    width: 100px;
}

.item {
    padding-bottom: 10px;
}

.item a.activeLink {
    color: darkblue;
}
.item:hover {
    transform: translateY(4px);
}